{% load i18n %}

{% with all_images=product.images.all %}
    {# use length rather then count as the images get queried anyways #}

    <div class="gallery">
    {% for image in all_images %}
     <div class="item">
        <img src="{{ image.original.url }}" alt="image02" data-description="{% if image.caption %}{{ image.caption }}{% endif %}" />
    </div>
    {% endfor %}
        {% if all_images > 1 %}
        <div class="controls">
            <a class="back" href="">back</a>
            <a class="next" href="">next</a>
        </div>
        {% endif %}            
    </div>

{% endwith %}