{% extends "layout.html" %}
{% load currency_filters %}
{% load history_tags %}
{% load reviews_tags %}
{% load staticfiles %}
{% load product_tags %}
{% load i18n %}

{% block extrastyles %}
    <!-- Colorbox (a lightbox plugin) for image galleries -->
    <link rel="stylesheet" href="{% static "gallery.css" %}" type="text/css" media="screen" charset="utf-8"/>
{% endblock %}

{% block title %}
    {{ product.title }} | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
{% endblock %}

{% block header %}
{% endblock header %}

{% block content %}

<article class="product_page"><!-- Start of product page -->


    <div class="row-fluid">

        {% block product_gallery %}
        <div class="span6">
            {% include "catalogue/partials/gallery.html" %}
        </div>
        {% endblock %}

        {% block product_main %}
        <div class="span6">
            {% comment %} 
            This is a but clunky here.  Better to have some kind of JS-driven dashboard menu that 
            pops out when clicked.  A bit like the Django-Debug-Toolbar button
            {% endcomment %}
            {% if user.is_authenticated and user.is_staff %}
                <a class="pull-right" href="{% url dashboard:catalogue-product product.id %}"><small><i class="icon-edit"></i> {% trans "Edit this product" %}</small></a>
            {% endif %}
            <h1>{{ product.get_title }}</h1>
            
            {% block product_stock_record %}
            {% include "catalogue/partials/stock_record.html" %}
            {% endblock %}
             
            {% block product_basket_form %}
                {% include "catalogue/partials/add_to_basket_form.html" %}
            {% endblock %}
        </div><!-- /span6 -->
        {% endblock %}

    </div><!-- /row-fluid -->
              
    {% block product_description %}
        {% if product.description %}
        <div id="product_description" class="sub-header">
            <h2>{% trans "Product Description" %}</h2>
        </div>
        <p>{{ product.description|safe }}</p>
        {% endif %}
    {% endblock %}
    
    {% block product_info %}
    {% endblock %}

    {% block product_review %}
    {% endblock product_review %}
    
    <div class="row-fluid">
        {% if product.related_products.count %}
        <div class="span6">
            <div class="sub-header">
                <h2>{% trans "Related items" %}</h2>
            </div>
            <div class="es-carousel-wrapper">
                <div class="es-carousel">
                    <ul>
                        {% for product in product.related_products.all %}
                        <li>
                            {% render_product product %}
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        {% endif %}

        {% if product.recommended_products.count %}
        <div class="span6">
            <div class="sub-header">
                <h2>{% trans "Recommended items" %}</h2>
            </div>
            <div class="es-carousel-wrapper">
                <div class="es-carousel">
                    <ul>
                        {% for product in product.recommended_products.all %}
                        <li>
                            {% render_product product %}
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        {% endif %}

        {% recently_viewed_products %}

    </div>
</article><!-- End of product page -->
{% endblock content %}

{% block extrascripts %}
{{ block.super }}
<!-- Responsive gallery js -->
<script src="{% static "gallery.js" %}" type="text/javascript" charset="utf-8"></script>
{% block onbodyload %}galleries();{% endblock %}

{% endblock %}
