{% extends "layout.html" %}
{% load currency_filters %}
{% load history_tags %}
{% load reviews_tags %}
{% load staticfiles %}
{% load product_tags %}
{% load i18n %}

{% block extrastyles %}
    <!-- Colorbox (a lightbox plugin) for image galleries -->
    <link rel="stylesheet" href="{% static "gallery.css" %}" type="text/css" media="screen" charset="utf-8"/>
{% endblock %}

{% block title %}
    {{ product.title }} | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
{% endblock %}

{% block header %}
{% endblock header %}

{% block content %}

<article class="product_page"><!-- Start of product page -->


    <div class="row-fluid">

        {% block product_gallery %}
        <div class="span6">
            {% include "catalogue/partials/gallery.html" %}
        </div>
        {% endblock %}

        {% block product_main %}
        <div class="span6">
            {% comment %} 
            This is a but clunky here.  Better to have some kind of JS-driven dashboard menu that 
            pops out when clicked.  A bit like the Django-Debug-Toolbar button
            {% endcomment %}
            {% if user.is_authenticated and user.is_staff %}
                <a class="pull-right" href="{% url dashboard:catalogue-product product.id %}"><small><i class="icon-edit"></i> {% trans "Edit this product" %}</small></a>
            {% endif %}
            <h1>{{ product.get_title }}</h1>
            <div class="level">Level:Beginner</div>
              {% block product_description %}
        {% if product.description %}
        <div id="product_description" class="sub-header">
            <h2>{% trans "Product Description" %}</h2>
        </div>
        <p>{{ product.description|safe }}</p>
        {% endif %}
    {% endblock %}
            
            {% block product_stock_record %}
            {% include "catalogue/partials/stock_record.html" %}
            {% endblock %}
             
            {% block product_basket_form %}
            {% load basket_tags %}
{% load i18n %}
                {% if product.is_available_to_buy %}
    {% basket_form request.basket product as basket_form %}
    <form action="{% url basket:add %}" method="post" class="form-stacked">
        {% csrf_token %}
        {% include "partials/form_fields.html" with form=basket_form %}
        <div class="form-actions">
			<button type="submit" class="btn btn-large btn-primary btn-full" value="Add to basket">{% trans "Add this to my shopping bag+" %}</button>
        </div>
    </form>
{% else %}
	{% if has_active_alert %}
	<p>{% trans "You have an active stock alert for this product." %}</p>
	{% else %}
	<form id="alert_form" method="post" action="{% url customer:alert-create product.id %}">
        {% csrf_token %}
		<p>{% trans "You can get an email alert when this product is back in stock." %}</p>
        {% include "partials/form_fields.html" with form=alert_form %}
        <button type="submit" class="btn btn-large btn-info btn-full">{% trans "Notify me" %}</button>
    </form>
	{% endif %}
{% endif %}
            {% endblock %}
            <div id="view_more"><a href="{% url catalogue:category product.categories.all.0.slug %}">View more like this &#8594;</a></div>
        </div><!-- /span6 -->
        {% endblock %}

    </div><!-- /row-fluid -->
              
  
    
    {% block product_info %}
    {% endblock %}

</article><!-- End of product page -->
{% endblock content %}

{% block extrascripts %}
{{ block.super }}
<!-- Responsive gallery js -->
<script src="{% static "gallery.js" %}" type="text/javascript" charset="utf-8"></script>
{% endblock %}

{% block onbodyload %}galleries();{% endblock %}
